.collapsible {
  background-color: #232323;
  border-bottom: 0.3px solid #e5a600;
  color: white;
  cursor: pointer;
  padding: 1px;
  text-align: left;
  width: 100%;
  height: 4rem;
  outline: none;
  font-size: 15px;
}
.collapsible span {
  margin-left: 15px;
  font-size: 15px;
}
.collapsible div {
  margin-left: 5px;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

.activesetup:after {
  content: "\2212";
}

.activesetup,
.collapsible:hover {
  background-color: #000000;
}

.content {
  /* padding: 0 18px; */
  display: none;
  overflow: hidden;
  margin-top: 10px;
}

.input-position {
  display: inline-block;
  height: 15px;
  width: 200px;
  background: white;
  color: #000;
}

.button-bee {
  border: 0.5px solid gray;
  box-sizing: border-box;
  background-color: #232323;
  cursor: pointer;
  height: 30px;
  width: 20rem;
  font-size: small;
  line-height: 30px;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
  color: white;
  outline: none;
  text-align: center;
  outline: none;
}
.button-bee:hover {
  background-color: #000000;
}
.latlong-bee {
  box-sizing: border-box;
  width: 100%;
  font-size: small;
  vertical-align: middle;
  color: white;
  outline: none;
}

.latlong-bee div {
  font-size: 15px;
}
.container-bee {
  max-width: 30rem;
  background-color: #232323;
  color: white;
}

.button-bee-aoa {
  border: 0.5px solid gray;
  box-sizing: border-box;
  background-color: #232323;
  cursor: pointer;
  height: 30px;
  width: 20rem;
  font-size: small;
  line-height: 30px;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
  color: white;
  outline: none;
  text-align: center;
  outline: none;
}
.button-bee-aoa:hover {
  background-color: #000000;
}

.aoa-config {
  display: block;
}

#containerGeneralTool div {
  margin-left: 10px;
}

.labelModel {
  display: block;
  position: absolute;
  z-index: 100;
  border: 2px solid #ccc;
  background-color: #404040;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 12rem;
  height: 12rem;
  color: white;
}

.labelModel:hover {
  color: red;
}

.aoa-bee {
  margin-bottom: 10px;
  border-bottom: 0.1px solid #686868;
}

.dockingPanel {
  background-image: url("http://localhost:3000/assets/images/png/bee_logo.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

#map {
  position: absolute;
  display: block;
  top: 10px;
  z-index: -9;
  right: 0;
  width: 300px;
  height: 300px;
}

#deck {
  position: absolute;
  display: block;
  top: 10px;
  z-index: -10;
  right: 0;
  width: 300px;
  height: 300px;
}

#infoData {
  font-size: 10px;
}

#infoPanel div {
  background-color: #232323;
  font-size: small;
}
#infoPanel div:first-child {
  text-align: center;
}

.workerMarker {
  background-image: url("http://localhost:3000/assets/images/png/img_dasloop_pin_online.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.plantMarker {
  background-image: url("http://localhost:3000/assets/images/png/img_gps_plant_pin_online.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map*/
